.main-menu {
  list-style: none;
}

.tp-megamenu-wrapper {
  position: absolute;
  // width: 100%;
  left: 0;
  top: 100%;
  background: #fff;
  padding: 15px;
  display: none;
}

.has-dropdown:hover .tp-megamenu-wrapper {
  display: block;
}



.menu-heading {
  grid-column: span 4;
  font-weight: 700;
  font-size: 14px;
  color: #ff3d00;
  margin-top: 15px;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 6px 0;
  transition: 0.3s;
}

.menu-link:hover {
  color: #ff3d00;
  transform: translateX(5px);
}

.menu-icon {
  color: #ff3d00;
  padding: 0 !important;
  margin-left: 0 !important;

  svg {
    color: #000 !important;

  }
}

.menu-text {
  font-size: 14px !important;
  font-weight: 600 !important;

  @media screen and (min-width:1300px) {
    font-size: 11px !important;
  }

  @media screen and (min-width:1500px) {
    font-size: 12.5px !important;
  }

  @media screen and (min-width:1700px) {
    font-size: 14.5px !important;
  }
}

li.menu-heading {
  color: #ff5722;
  font-size: 18px;
  font-weight: 600;
}

.tp-megamenu-list .mega-grid {
  display: block;

  li {
    padding: 0;
  }
}

.mega-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 25px;

  li {
    line-height: 35px;

    &:not(.tp-megamenu-title) {

      padding: 4px 10px !important;

      &:hover {
        background-color: #ff572229;
        border-radius: 7px;

        .menu-text {
          color: #ff3d00;
        }

        .menu-icon {
          svg {
            color: #ff3d00 !important;

          }
        }

      }
    }

    a.menu-link {
      padding: 0 !important;
    }

    @media screen and (min-width:1500px) {
      margin-top: 5px;
    }

    // &.tp-megamenu-title {
    //   padding: 0 10px!important;

    //   &:hover {
    //     background-color: transparent;
    //     border-radius: unset;
    //   }
    // }
  }

  .tp-megamenu-title {
    line-height: unset !important;

  }
}