.cursor-hide {
    overflow: hidden !important;
    img{
        transition: all 0.3s ease-in-out;
        border-radius: 20px;
        &:hover{
            transform: scale(1.05);
        }
    }
    // canvas{
    //     display: none !important;
    // }
}