.tp-offcanvas-logo {
    a {
        img {
            background: linear-gradient(135deg, #0f172a 60%, #ff5722 140%);
            border-radius: 50px;
            width: 150px;
            height: auto;
            padding: 2px 12px;
        }
    }
}